{% extends "base.html" %}

{% load static %}

{% block title %}Gujarat Travel | About {% endblock title %}

{% block content %}
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5">
            <div
              class="col-lg-6 wow fadeInUp"
              data-wow-delay="0.1s"
              style="min-height: 400px"
            >
              <div class="position-relative h-100">
                <img
                  class="img-fluid position-absolute w-100 h-100 border border-dark"
                  src="{% static 'img/gujarat-map.jpg' %}"
                  alt="Gujarat-img"
                  style="object-fit: cover"
                />
              </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
              <h6 class="section-title bg-white text-start text-primary pe-3">
                About Us
              </h6>
              <h1 class="mb-4">
                {% comment %} Welcome to <span class="text-primary">Gujarat Tour</span> {% endcomment %}
                <h2>Gujarat Day - Significance, History</h2>
              </h1>
              <p class="mb-4"><strong>Gujarat Day</strong>, observed on May 1, commemorates the
                  formation of Gujarat state in India. Gujarat was carved out of the Bombay State on May 1, 1960,after the
                  Bombay Reorganisation Act, 1960.People of Gujarat celebrate Gujarat Day by attending cultural
                  programs that showcase the heritage of the state.
              </p>
              <p class="mb-4">
                The coastal states of Gujarat and Maharashtra were bifurcated from the Bombay State based on cultural
                distinctiveness. In this article, we have shared details about Gujarat Day, its history and
                significance.
              </p>
              <div class="row gy-2 gx-4 mb-4">
                <div class="col-sm-6">
                  <p class="mb-0">
                    <i class="fa fa-arrow-right text-primary me-2"></i>Gujarat Famous Temples
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">
                    <i class="fa fa-arrow-right text-primary me-2"></i>Kutch Tour
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">
                    <i class="fa fa-arrow-right text-primary me-2"></i>National Parks
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">
                    <i class="fa fa-arrow-right text-primary me-2"></i>Best Tour Guide
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">
                    <i class="fa fa-arrow-right text-primary me-2"></i>Premium
                    City Tours
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">
                    <i class="fa fa-arrow-right text-primary me-2"></i>24/7
                    Service
                  </p>
                </div>
              </div>
              <a class="btn btn-primary py-3 px-5 mt-2" href="https://en.wikipedia.org/wiki/Gujarat" target="_blank" >Read More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">
              Travel Guide
            </h6>
            <h1 class="mb-5">Meet Our Guide</h1>
          </div>
          <div class="row g-4">
            {% for n in guide_data %}
              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                  <div class="overflow-hidden">
                    <img class="img-fluid" src="{{n.image.url}}" alt="guide_image" style="height:200px;" />
                  </div>
                  <div
                    class="position-relative d-flex justify-content-center"
                    style="margin-top: -19px"
                  >
                    <a class="btn btn-square mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-square mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-square mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                  <div class="text-center p-4">
                    <h5 class="mb-0">{{ n.name }}</h5>
                    Experience : <small>{{ n.experience }} Year</small>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Team End -->
        
{% endblock content %}