{% extends "base.html" %}

{% load static %}

{% block title %}Gujarat Travel | Passowrd Reset Send{% endblock title %}

{% block content %}

<div class="container-fluid p-0" >
  <div class="password-reset-send">
    <div class="container-fluid" >
      <h1>Passowrd Reset Send</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-decoration-underline"><a href="{% url "index" %}">Home</a></li>
            <li class="breadcrumb-item active text-light" aria-current="page">Password Reset Send</li>
          </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-10">
              <p><span class="text-primary pe-4">=></span>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
              <p><span class="text-primary pe-4">=></span>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
            <div class="py-lg-4 py-md-2">
              <p class="text-center text-success"> Or </p>
            </div>
            <div class="col-md-10 col-lg-10">
              <p><span class="text-primary pe-4">=></span>यदि आपके द्वारा दर्ज किए गए ईमेल के साथ कोई खाता मौजूद है, तो हमने आपको अपना पासवर्ड सेट करने के निर्देश ईमेल किए हैं. आपको उन्हें शीघ्र ही प्राप्त करना चाहिए</p>
              <p><span class="text-primary pe-4">=></span>यदि आपको कोई ईमेल प्राप्त नहीं होता है, तो कृपया सुनिश्चित करें कि आपने वह पता दर्ज किया है जिसके साथ आपने पंजीकरण किया है, और अपने स्पैम फ़ोल्डर की जांच करें।</p>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
